.container {
    width: min(1200px, calc(100% - 30px));
    margin-inline: auto;
}

.property-archive__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: stretch;
    gap: 1rem;
}

article.property, article.agent {
    position: relative;
    background-color: white;
    padding: 2rem;
}
.property-archive__post-permalink {
    position: absolute;
    inset: 0;
    z-index: 1;
}
.property-thumbnail, .agent-thumbnail {
    display: block;
    aspect-ratio: 3/2;
    object-fit: cover;
    max-width: unset !important;
    height: auto !important;
}

.single-property article.property {
    width: min(100%, 800px);
    margin-inline: auto;
}

.aleproperty-form-group {
    margin-bottom: 1rem;
}
.aleproperty-form-group :where(input, select, textarea) {
    width: 100%;
}
.aleproperty-form-group > label {
    display: block;
}

#aleproperty-booking-form {
    transition: .4s;
}
#aleproperty-booking-form.aleproperty-validation-error input:placeholder-shown {
    border-color: red;
}

.aleproperty-form-processing {
    opacity: .5;
    pointer-events: none;
}
.aleproperty-form-error {
    color: red;
}
.aleproperty-form-success {
    color: green;
}

#aleproperty-booking-result:not(:empty) {
    margin-top: 1.5rem;
    text-align: center;
}
