.container {
    width: min(1200px, calc(100% - 30px));
    margin-inline: auto;
}

.property-archive__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: stretch;
    gap: 1rem;
}

article.property, article.agent {
    position: relative;
    background-color: white;
    padding: 2rem;
}
.property-archive__post-permalink {
    position: absolute;
    inset: 0;
    z-index: 1;
}
.property-thumbnail, .agent-thumbnail {
    display: block;
    aspect-ratio: 3/2;
    object-fit: cover;
    max-width: unset !important;
    height: auto !important;
}

.single-property article.property {
    width: min(100%, 800px);
    margin-inline: auto;
}

.aleproperty-form-group {
    margin-bottom: 1rem;
}
.aleproperty-form-group :where(input, select, textarea) {
    width: 100%;
}
.aleproperty-form-group > label {
    display: block;
}

#aleproperty-booking-form {
    transition: .4s;
}
#aleproperty-booking-form.aleproperty-validation-error input:placeholder-shown {
    border-color: red;
}

.aleproperty-form-processing {
    opacity: .5;
    pointer-events: none;
}
.aleproperty-form-error {
    color: red;
}
.aleproperty-form-success {
    color: green;
}

#aleproperty-booking-result:not(:empty) {
    margin-top: 1.5rem;
    text-align: center;
}

.aleproperty-ajax-active {
    pointer-events: none;
    opacity: 0.75;
}
.aleproperty-wishlist-btn {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 1rem 0 0 auto !important;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    grid-column-gap: 10px;
    background-color: transparent !important;
}
.aleproperty-wishlist-btn[disabled] {
    border-color: #D9D9D9;
    opacity: 0.5;
}
.aleproperty-wishlist-btn.item-added svg{
    fill: coral;
}

.aleproperty-wishlist {
    max-width: unset !important;
}
.aleproperty-wishlist-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    transition: .4s;
}
.aleproperty-wishlist-item + .aleproperty-wishlist-item {
    margin-top: 1rem !important;
}
.aleproperty-wishlist-item > figure {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.aleproperty-wishlist-item > figure > figcaption {
    text-align: left;
    margin: 0;
}
.aleproperty-wishlist-item > figure .property-thumbnail {
    width: 12rem !important;
    max-width: 100% !important;
    border-radius: 0.25rem;
}
.aleproperty-wishlist-item .aleproperty-wishlist-remove-item {
    border: none !important;
    padding: 0.75rem;
    border-radius: 0.25rem;
}
.aleproperty-wishlist-item .aleproperty-wishlist-remove-item:not(:hover, :active) {
    background-color: transparent !important;
}
.aleproperty-wishlist-item .aleproperty-wishlist-remove-item:where(:hover, :active) {
    background-color: #f2f2f2 !important;
}
